body {
	background: #ffffff;
	text-align: center;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

input {
	padding: 5px;
	font-size: 16px;
}

input:not(:first-of-type) {
	margin-left: 20px;
}

video {
	margin: 30px;
	width: 300px;
	max-width: 85%;
	border: 5px red solid;
	border-radius: 20px;
}


body {
	font-family: sans-serif;
	margin: 0 auto;
	padding: 25px;
	max-width: 400px;
	min-width: 400px;
	background-color: #dfe6e9;
	text-align: center;
  }
  
  
  .card {
	position: relative;
	padding: 15px 15px;
	background-color: rebeccapurple;
	margin: 0px auto;
	width: 400px;
	/* box-shadow: 0 2px 5px #ccc; */
	text-align: center;
	border: 5px red solid;
	border-radius: 20px;
  }

  a{
	  color:wheat;
  }
  
  h1{
	  color: darksalmon;
  }

  